# Default ignored files
/shelf/
/workspace.xml
# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]

# IDE & tools
.idea/
.vscode/
.DS_Store

# Data & output
data/
output/
logs/
models/
checkpoints/
*.zip
*.nii
*.xlsx

# Models
NLP_Final_Task/llama.cpp/
NLP_Final_Task/models/